<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PreguntadORT - FIN</title></head>
<body>
  <h1>FIN DE LA PARTIDA</h1>
  <a class="btn iniciar" href='@Url.Action("ConfigurarJuego", "Home")'>Volver a jugar</button>
</body>
</html>