USE [master]
GO
/****** Object:  Database [PreguntadORT]    Script Date: 19/9/2025 08:24:30 ******/
CREATE DATABASE [PreguntadORT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PreguntadORT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PreguntadORT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PreguntadORT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PreguntadORT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PreguntadORT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PreguntadORT]
GO
/****** Object:  User [alumno]    Script Date: 19/9/2025 08:24:30 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 19/9/2025 08:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dificultad]    Script Date: 19/9/2025 08:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dificultad](
	[DificultadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DificultadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 19/9/2025 08:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[PreguntaID] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[DificultadID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PreguntaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 19/9/2025 08:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[RespuestaID] [int] IDENTITY(1,1) NOT NULL,
	[PreguntaID] [int] NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[EsCorrecta] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RespuestaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CategoriaID], [Nombre]) VALUES (1, N'Historia')
INSERT [dbo].[Categoria] ([CategoriaID], [Nombre]) VALUES (2, N'Geografía')
INSERT [dbo].[Categoria] ([CategoriaID], [Nombre]) VALUES (3, N'Ciencia')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Dificultad] ON 

INSERT [dbo].[Dificultad] ([DificultadID], [Nombre]) VALUES (1, N'Fácil')
INSERT [dbo].[Dificultad] ([DificultadID], [Nombre]) VALUES (2, N'Medio')
INSERT [dbo].[Dificultad] ([DificultadID], [Nombre]) VALUES (3, N'Difícil')
SET IDENTITY_INSERT [dbo].[Dificultad] OFF
GO
SET IDENTITY_INSERT [dbo].[Pregunta] ON 

INSERT [dbo].[Pregunta] ([PreguntaID], [Texto], [CategoriaID], [DificultadID]) VALUES (1, N'¿Quién fue el primer presidente de los Estados Unidos?', 1, 1)
INSERT [dbo].[Pregunta] ([PreguntaID], [Texto], [CategoriaID], [DificultadID]) VALUES (2, N'¿Qué colores tenía la bandera de Francia en la Revolución?', 1, 1)
INSERT [dbo].[Pregunta] ([PreguntaID], [Texto], [CategoriaID], [DificultadID]) VALUES (3, N'¿Qué país descubrió Cristóbal Colón en 1492?', 1, 1)
SET IDENTITY_INSERT [dbo].[Pregunta] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuesta] ON 

INSERT [dbo].[Respuesta] ([RespuestaID], [PreguntaID], [Texto], [EsCorrecta]) VALUES (1, 1, N'George Washington', 1)
INSERT [dbo].[Respuesta] ([RespuestaID], [PreguntaID], [Texto], [EsCorrecta]) VALUES (2, 1, N'John Adams', 0)
INSERT [dbo].[Respuesta] ([RespuestaID], [PreguntaID], [Texto], [EsCorrecta]) VALUES (3, 1, N'Thomas Jefferson', 0)
GO
SET IDENTITY_INSERT [dbo].[Respuesta] OFF
GO
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([CategoriaID])
GO
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD FOREIGN KEY([DificultadID])
REFERENCES [dbo].[Dificultad] ([DificultadID])
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD FOREIGN KEY([PreguntaID])
REFERENCES [dbo].[Pregunta] ([PreguntaID])
GO
USE [master]
GO
